{% extends 'layout.twig' %}

{% block body %}

    <h1>Nouvel Article</h1>
    <form method="post">
        <label for="titre">Titre</label>
        <input type="text" name="titre" id="titre"/>
        <br>
        <label for="resume">Résumé</label>
        <input name="resume" id="resume"/>
        <br>
        <label for="contenu">Contenu</label>
        <input name="contenu" id="contenu"/>
        <br>
        <label for="categorie">Catégorie associée à l'article</label>
        <select name="categorie" id="categSelect">
            {% for categorie in categories %}
                <option value={{ categorie.id }}>{{ categorie.titre }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="images">Image associée à l'article</label>
        <select name="image" id="imgSelect">
            <option value="">Aucune image</option>
            {% for image in images %}
                <option value={{ image.id }}>{{ image.url }}</option>
            {% endfor %}
            <br>
        </select>
        <input type="submit" value="Créer"/>
    </form>

{% endblock %}

