{% extends 'layout.twig' %}

{% block body %}

    <h1>Nouvel Article</h1>
    <form method="post">
        <label for="titre">Titre</label>
        <input type="text" name="titre" id="titre"/>
        <br>
        <label for="resume">Résumé</label>
        <textarea name="resume" id="resume"></textarea>
        <br>
        <label for="contenu">Contenu</label>
        <textarea name="contenu" id="contenu"></textarea>
        <br>
        <label for="categorie">Catégorie associée à l'article</label>
        <select name="categorie" id="categSelect">
            <option value="">Aucune catégorie sélectionnée</option>
            {% for categorie in categories %}
                <option value={{ categorie.id }}>{{ categorie.titre }}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Créer"/>
    </form>

{% endblock %}

