{% extends 'Layout.twig' %}

{% block content %}

    <h1>Nouvel Article</h1>
    <form method="post" class="article-form">
        <div class="form-group">
            <label for="titre">Titre</label>
            <input type="text" name="titre" id="titre" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="resume">Résumé</label>
            <textarea name="resume" id="resume" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="contenu">Contenu</label>
            <textarea name="contenu" id="contenu" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="categorie">Catégorie associée à l'article</label>
            <select name="categorie" id="categSelect" class="form-control">
                {% for categorie in categories %}
                    <option value="{{ categorie.id }}">{{ categorie.titre }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Créer</button>
    </form>

{% endblock %}
