{% extends 'layout.twig' %}

{% block body %}

    <h1>Nouvel Article</h1>
    <form method="post">
        <label for="titre">Titre</label>
        <input type="text" name="titre" id="titre" />
        <br>
        <label for="resume">Résumé</label>
        <textarea name="description" id="resume"></textarea>
        <br>
        <label for="contenu">Contenu</label>
        <textarea name="contenu" id="contenu"></textarea>
        <br>
        <input type="submit" value="Créer" />
    </form>

{% endblock %}

