* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
}

nav > ul {
    display: flex;
    background-color: #609191;
    padding: 1.5%;
    justify-content: center;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: large;
    padding-left: 150px;
}

.categorie, .article{
    margin: 20px 300px 20px 300px;
    font-family: 'Segoe UI';
    font-size: large;
    border: black 1px solid;
    border-radius: 30px;
    text-align: center;
    padding: 20px;
    align-content: center;
}