{% extends 'main.twig' %}

{% block content %}

    <section id="newArticle">
        <h1>Créer un nouvel article</h1>
        <div id="createArticle">
            <form>
                <input id="titre" type="text" name="titre" placeholder="Titre de l'article">
                <textarea id="contenu" name="contenu" placeholder="Contenu de l'article"></textarea>
                <textarea id="resume" name="resume" placeholder="Résumé de l'article"></textarea>
                <button id="validArticle" type="submit">Valider l'article</button>
            </form>
        </div>
    </section>

{% endblock %}
```